@use "./var.scss" as *;
@use "./markdown.css";

@use './helper.scss' as *;

a {
  cursor: pointer;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

/* global */
hr {
  opacity: 0.1;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* global */
.sponsor-table {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
}

p {
  font-size: 14px;
}

// sponsor-link will be disabled by AdblockPlus.
.sponsor {
  &-url {
    color: #0078e7;
  }
}
