:root {
  --c-border: #eee;

  --qrcode-border-color: #eee;
}

html.dark {
  --c-border: #333;

  --qrcode-border-color: gray;

  // element
  .sponsor-table {
    .el-table {
      --el-table-background-color: transparent;
    }
  }
}
